{% extends '/layouts/base.twig' %}
{% block title %}Short link generator{% endblock %}
{% block content %}
	<h1>Create short link</h1>
	<h2>Now</h2>
	<div class="js-form-response"></div>
	{{ form_open({'url': 'api/link', 'class': 'form-inline text-center justify-content-center', 'method': 'post'}) }}
		<div class="input-group mb-3">
			{{ form_text('url', '', {'class': 'form-control form-control-lg', 'placeholder': 'URL'}) }}
			<div class="input-group-append">
				<button class="btn btn-success btn-lg js-get-short-url" type="submit">Go</button>
			</div>
		</div>
	{{ form_close() }}
	<h2>Or use API</h2>
	<div>
		<h3>Request</h3>
		<code>POST /api/link </code><br>
		<code>Content-Type: application/json</code><br>
		<code>{"url": "https://www.test.com/need/to/short"}</code><br>
		<h3>Response</h3>
		<code>HTTP/1.1 201 Created</code><br>
		<code>X-RateLimit-Limit: 3</code><br>
		<code>X-RateLimit-Remaining: 2</code><br>
		<code>{"url":"http://localhost/XoCLT"}</code><br>
		<h4>Or</h4>
		<code>HTTP/1.1 422 Unprocessable Entity</code><br>
		<code>{"message":"The given data was invalid.","errors":{"url":["The url format is invalid."]}}</code><br>
	</div>
{% endblock %}