<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	{% block head %}
		<link rel="stylesheet" href="/css/app.css" />
		<title>{% block title %}{% endblock %}</title>
	{% endblock %}
	<meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="/">Short link generator</a>
</nav>

<main role="main" class="container">
	<div class="starter-template">
		{% block content %}{% endblock %}
	</div>
</main>

<script src="/js/app.js"></script>
</body></html>